/*
 * Bassplate
 * Boilerplate for Basscss with cssnext
 * http://github.com/basscss/bassplate
 *
 * Remove or comment out unneeded modules and import your own files.
 * Adjust global media queries and custom properties below.
 *
 */


/* Basscss Modules */
@import 'basscss/node_modules/basscss-base-reset';
@import 'basscss/node_modules/basscss-base-forms';
@import 'basscss/node_modules/basscss-base-tables';
@import 'basscss/node_modules/basscss-base-typography';
@import 'basscss/node_modules/basscss-color-base';
@import 'basscss/node_modules/basscss-color-forms';
@import 'basscss/node_modules/basscss-color-tables';
@import 'basscss/node_modules/basscss-btn';
@import 'basscss/node_modules/basscss-btn-primary';
@import 'basscss/node_modules/basscss-btn-outline';
@import 'basscss/node_modules/basscss-type-scale';
@import 'basscss/node_modules/basscss-utility-typography';
@import 'basscss/node_modules/basscss-utility-layout';
@import 'basscss/node_modules/basscss-align';
@import 'basscss/node_modules/basscss-white-space';
@import 'basscss/node_modules/basscss-positions';
@import 'basscss/node_modules/basscss-responsive-states';
@import 'basscss/node_modules/basscss-grid';
@import 'basscss/node_modules/flex-object';
@import 'basscss/node_modules/basscss-borders';
@import 'basscss/node_modules/basscss-colors';
@import 'basscss/node_modules/basscss-background-colors';


/* Optional Modules (not included in Basscss by default) */
/*
@import 'basscss/node_modules/basscss-base-buttons';
@import 'basscss/node_modules/basscss-button-sizes';
@import 'basscss/node_modules/basscss-color-forms-dark';
@import 'basscss/node_modules/basscss-input-range';
@import 'basscss/node_modules/basscss-progress';
@import 'basscss/node_modules/basscss-button-outline';
@import 'basscss/node_modules/basscss-button-transparent';
@import 'basscss/node_modules/basscss-background-images';
@import 'basscss/node_modules/basscss-media-object';
@import 'basscss/node_modules/basscss-responsive-white-space';
@import 'basscss/node_modules/basscss-utility-headings';
@import 'basscss/node_modules/basscss-ui-utility-groups';
@import 'basscss/node_modules/basscss-table-object';
@import 'basscss/node_modules/basscss-color-buttons';
@import 'basscss/node_modules/basscss-button-link';
@import 'basscss/node_modules/basscss-button-blue';
@import 'basscss/node_modules/basscss-button-blue-outline';
@import 'basscss/node_modules/basscss-button-gray';
@import 'basscss/node_modules/basscss-button-light-gray';
@import 'basscss/node_modules/basscss-button-red';
@import 'basscss/node_modules/basscss-button-nav-light';
@import 'basscss/node_modules/basscss-button-nav-dark';
@import 'basscss/node_modules/basscss-button-nav-tab';
@import 'basscss/node_modules/basscss-highlight-dark';
@import 'basscss/node_modules/basscss-highlight';
*/


/* Example custom file import */
/*
@import './color/borders';
*/


/* Default custom properties */
@import 'basscss/node_modules/basscss-defaults';


/* Custom media queries */
/*
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
*/


/* Custom properties */
/*
:root {

  --font-family: 'Helvetica Neue', Helvetica, sans-serif;
  --line-height: 1.5;
  --heading-font-family: var(--font-family);
  --heading-font-weight: bold;
  --heading-line-height: 1.25;
  --monospace-font-family: 'Source Code Pro', Consolas, monospace;

  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;

  --bold-font-weight: bold;

  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;

  --form-field-font-size: 1rem;
  --form-field-height: 2.25rem;
  --form-field-padding-y: .5rem;
  --form-field-padding-x: .5rem;

  --button-font-size: inherit;
  --button-font-weight: bold;
  --button-line-height: 1.125rem;
  --button-padding-y: .5rem;
  --button-padding-x: 1rem;

  --container-width: 64em;

  --black:  #111;
  --gray:   #aaa;
  --silver: #ddd;
  --white:  #fff;

  --aqua:   #7fdbff;
  --blue:   #0074d9;
  --navy:   #001f3f;
  --teal:   #39cccc;
  --green:  #2ecc40;
  --olive:  #3d9970;
  --lime:   #01ff70;

  --yellow: #ffdc00;
  --orange: #ff851b;
  --red:    #ff4136;
  --fuchsia:#f012be;
  --purple: #b10dc9;
  --maroon: #85144b;


  --darken-1: rgba(0,0,0,.0625);
  --darken-2: rgba(0,0,0,.125);
  --darken-3: rgba(0,0,0,.25);
  --darken-4: rgba(0,0,0,.5);

  --border-width: 1px;
  --border-radius: 3px;
  --border-color: var(--darken-2);
  --hover-background-color: var(--darken-1);

  --link-color: var(--blue);
  --button-background-color: var(--blue);
  --pre-background-color: var(--silver);


}
*/
