body {
  color: var(--fontColor);
  font-size: var(--fontSize);
  line-height: calc(var(--fontSize) * 2);
}

a:any-link {
  color: var(--linkColor);
}

.hello-world {
  width: 50%;
  margin: 40px auto;
}
